* {
   margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: ;
}

header {
  width: 100%;
  height: 100px;
}


header .myka-brand {
  margin: 0 auto;
  font-family: arial;
  font-size: 24px;
  font-weight: 900;
  color: #111;
  display: block;
  text-align: center;
  padding: 20px 0;
}

header nav ul {
  display: block;
  margin: 0 auto;
  width: fit-Content; /* to center */
}

header nav ul li {
  display: inline-block;
  float: left;
  list-style: none;
  padding: 0 25px;
  font-weight: bold;
}

header nav ul li a {
  font-family: arial;
  font-size: 16px;
  color: #111;
  text-transform: uppercase;
}


header .header-cases {
  display: none;
}

@media only screen and (min-width: 1000px) {
  header .myka-brand {
    margin: 31px 0;
    text-align: left;
    line-height: 38px;
    padding: 0px 20px 0px 40px;
    border-right: 3px solid #111;
    float: left;

  }
  header nav ul {
    margin: 20px 0 0 20px;
    float: left;
  }

  header nav ul li a {
    line-height: 60px;
  }

  header .header-cases {
    display: block;
    font-family: arial;
    font-size: 16px;
    color: #111;
    text-transform: uppercase;
    line-height: 38px;
    border: 1px solid #111;
    float: right;
    margin-right: 40px;
    margin-top: 30px;
    padding: 0 20px;

  }
}

.index-banner {
  width: 100%;
  height: calc(100vh - 100px); /*view height/ view height - width */
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('img/night4.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover ;
  display: table;
  width: 100%;
}
.vertical-center {
  display: table-cell;
  vertical-align: middle;

}





.index-banner h2 {
  display: block;
  font-family: arial;
  font-size: 50px;
  color: #fff;
  text-align: center;
  font-weight: 300;
  text-shadow: 2px 2px 8px #111;
  line-height: 90px;
  padding-top: 100px;
  padding-bottom: 95px;
}

.link::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
.link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.link::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: hsl(200 100% 80%);
  z-index: -1;
  transition: transform 0.3s ease;
}

.link {
  position: relative;
  font-family: arial;
  font-size: 16px;
  color: #111;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}

.index-links div {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  background-color: #f2f2f2;
}

.index-links div h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 100px;
  color: #111;
  text-align: center;
  text-transform: uppercase;

}
@media only screen and (min-width: 1000px) {

  .index-banner {
    height: 450px;
  }

  .wrapper {
    width: 1000px;
    margin: 0 auto;
  }

  .index-links  {
  overflow: hidden;

  }

  .index-links div {
    margin: 20px 10px 0;
    height: 230px;
    background-color: #f2f2f2;
    float: left;
  }


.index-boxlink-square {
  width: calc(25% - 20px) !important;

}



.index-boxlink-rectangle {
  width: calc(50% - 20px) !important;

}

.index-links div h3 {
  line-height: 230px;
}
}

footer {
  width: calc(100% - 80px);
  padding: 40px 40px;
  margin-top: 20px;
  background-color: #111;
  overflow: hidden;
}

footer ul {
  width: fit-content;
  float: left;
  padding-left: 20px;
}

footer ul li {
  display: block;
  list-style: none;
}

footer ul li a {
  font-family: arial;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
}

@media only screen and (min-width: 1000px) {

  footer ul {
    padding-right: 30px;
  }


  footer ul li p {
    font-family: arial;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    text-transform: uppercase;
}
